body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background: url('R.jpg');
    background-size: cover;
}

.Clock {
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.maincontainer {
    display: flex;
    flex-direction: row;
}

.session {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Clock div {
    margin: 5px;
    overflow: hidden;
}

.container {
    height: 113px;
    width: 100px;
    background-color: #0000007d;
    color: grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.text {
    background-color: lightblue;
    color: black;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
    font-size: 20px;
}

span.text {
    margin-top: 25px;
}

span#h {
    font-size: 40px;
    margin-top: 18px;
}

span#m {
    font-size: 40px;
    margin-top: 18px;
}

span#s {
    font-size: 40px;
    margin-top: 18px;
}

span#ses {
    font-size: 25px;
    color: white;
    background-color: lightsalmon;
    border-radius: 15px;
    padding: 7px;
}

h1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#date {

    color: white;
    clear: left;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}